Repository shivammathur/homebrew-php, pull requests merged in 2024-12, with the labels that each got.

#3425 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3424 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3423 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3426 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3427 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3430 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3428 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3429 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3431 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3432 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3433 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3435 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3438 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3437 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3436 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3439 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3440 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3441 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3442 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3444 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3443 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3446 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3445 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3447 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3449 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3448 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3450 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3451 feat: install libphp with the ZTS debug package
  Formula/php-debug-zts.rb
Labels: build-complete

#3456 feat: install libphp with 8.2 ZTS
  Formula/php@8.2-zts.rb
Labels: build-complete

#3457 feat: install libphp with 8.2 ZTS debug
  Formula/php@8.2-debug-zts.rb
Labels: build-complete

#3453 feat: install libphp with 8.5 ZTS debug
  Formula/php@8.5-debug-zts.rb
Labels: build-complete

#3455 feat: install libphp with 8.3 ZTS debug
  Formula/php@8.3-debug-zts.rb
Labels: build-complete

#3452 feat: install libphp with 8.5 ZTS
  Formula/php@8.5-zts.rb
Labels: build-complete

#3454 feat: install libphp with 8.3 ZTS
  Formula/php@8.3-zts.rb
Labels: build-complete

#3459 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3460 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3461 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3458 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3469 Update php@7.3
  Formula/php@7.3.rb
Labels: automated-pr, php@7.3, build-complete

#3462 Update php@7.3-zts
  Formula/php@7.3-zts.rb
Labels: automated-pr, build-complete, php@7.3-zts

#3473 Update php@7.2-debug-zts
  Formula/php@7.2-debug-zts.rb
Labels: automated-pr, build-complete, php@7.2-debug-zts

#3468 Update php@7.1
  Formula/php@7.1.rb
Labels: automated-pr, php@7.1, build-complete

#3472 Update php@7.3-debug
  Formula/php@7.3-debug.rb
Labels: automated-pr, build-complete, php@7.3-debug

#3464 Update php@7.3-debug-zts
  Formula/php@7.3-debug-zts.rb
Labels: automated-pr, build-complete, php@7.3-debug-zts

#3467 Update php@7.0-zts
  Formula/php@7.0-zts.rb
Labels: automated-pr, build-complete, php@7.0-zts

#3477 Update php@7.2-zts
  Formula/php@7.2-zts.rb
Labels: automated-pr, build-complete, php@7.2-zts

#3476 Update php@7.2-debug
  Formula/php@7.2-debug.rb
Labels: automated-pr, build-complete, php@7.2-debug

#3466 Update php@7.1-debug-zts
  Formula/php@7.1-debug-zts.rb
Labels: automated-pr, build-complete, php@7.1-debug-zts

#3471 Update php@7.0
  Formula/php@7.0.rb
Labels: automated-pr, php@7.0, build-complete

#3478 Update php@7.2
  Formula/php@7.2.rb
Labels: automated-pr, php@7.2, build-complete

#3479 Update php@7.1-zts
  Formula/php@7.2.rb
Labels: automated-pr, build-complete, php@7.1-zts

#3482 Add bison@2.7 and autoconf@2.69
  Formula/autoconf@2.69.rb
  Formula/bison@2.7.rb
Labels: build-complete

#3475 Update php@5.6-zts
  Formula/php@5.6-zts.rb
Labels: automated-pr, build-complete, php@5.6-zts

#3481 Update php@5.6-debug-zts
  Formula/php@5.6-debug-zts.rb
Labels: automated-pr, build-complete, php@5.6-debug-zts

#3490 Update php@8.0
  Formula/php@8.0.rb
Labels: automated-pr, build-complete, php@8.0

#3485 Update php@8.0-zts
  Formula/php@8.0-zts.rb
Labels: automated-pr, build-complete, php@8.0-zts

#3483 Update php@8.0-debug-zts
  Formula/php@8.0-debug-zts.rb
Labels: automated-pr, build-complete, php@8.0-debug-zts

#3487 Update php@7.4-debug
  Formula/php@7.4-debug.rb
Labels: automated-pr, build-complete, php@7.4-debug

#3489 Update php@7.4-debug-zts
  Formula/php@7.4-debug-zts.rb
Labels: automated-pr, build-complete, php@7.4-debug-zts

#3488 Update php@7.4
  Formula/php@7.4.rb
Labels: automated-pr, php@7.4, build-complete

#3493 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3494 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3491 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3496 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3497 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3495 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3498 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3506 Update php@8.2-zts
  Formula/php@8.2-zts.rb
Labels: automated-pr, build-complete, php@8.2-zts

#3501 Update php@8.2-debug
  Formula/php@8.2-debug.rb
Labels: automated-pr, build-complete, php@8.2-debug

#3505 Update php@8.3-debug
  Formula/php@8.3-debug.rb
Labels: automated-pr, build-complete, php@8.3-debug

#3499 Update php
  Formula/php@8.3.rb
Labels: automated-pr, php, build-complete

#3502 Update php@8.2-debug-zts
  Formula/php@8.3.rb
Labels: automated-pr, build-complete, php@8.2-debug-zts

#3509 Update php-debug
  Formula/php-debug.rb
Labels: automated-pr, build-complete, php-debug

#3504 Update php@8.3-zts
  Formula/php@8.3-zts.rb
Labels: automated-pr, build-complete, php@8.3-zts

#3508 Update php-debug-zts
  Formula/php-debug-zts.rb
Labels: automated-pr, build-complete, php-debug-zts

#3510 Update php-zts
  Formula/php-zts.rb
Labels: automated-pr, build-complete, php-zts

#3514 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3513 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3512 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3511 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3518 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3517 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3515 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3516 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3521 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3520 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3519 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3522 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3526 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3523 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3524 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3525 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3530 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, CI-no-fail-fast, php@8.5-debug

#3529 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3528 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3527 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts

#3531 Update php@8.5-debug
  Formula/php@8.5-debug.rb
Labels: automated-pr, build-complete, php@8.5-debug

#3533 Update php@8.5-debug-zts
  Formula/php@8.5-debug-zts.rb
Labels: automated-pr, build-complete, php@8.5-debug-zts

#3532 Update php@8.5
  Formula/php@8.5.rb
Labels: automated-pr, build-complete, php@8.5

#3534 Update php@8.5-zts
  Formula/php@8.5-zts.rb
Labels: automated-pr, build-complete, php@8.5-zts
